//colors
$clr-main: #455999;
$clr-hover: #52006C;
$clr-contr: #fff;
$clr-txt: #222;
$clr-txt-sec: #7B7B7B;
$clr-bg: #F7F7FB;
$clr-brd: #EAEAEA;
$clr-placeholder: #000;
$clr-confirm: #94C01C;
$clr-edit: #FFD53F;
$clr-alert: #FF2F2F;
$clr-placeholder: $clr-txt-sec;

//fonts
$font-main: 'Roboto', sans-serif;

//other
$brs: 8px;
$bsh: 0 4px 44px rgba(0, 0, 0, .05);


