/*baisic*/
html{
  -webkit-locale: "ru-RU";
  direction: ltr;
  unicode-bidi: isolate;
  min-height: 100%;
}
html, body{
  min-height: 100%;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
}
body{
  font: 400 16px/1.2 $font-main;
  color: $clr-txt;
  background: $clr-bg;
  min-width: 310px; 
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
  opacity: 1;
  -moz-font-feature-settings: 'kern';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
}

/*clearfix*/
.clearfix{
  zoom: 1;
  &:before,
  &:after{
    content: '';
    display: table;
  }
  &:after{clear: both;}
}

/*visually hidden*/
.visually-hidden{
  position: absolute;
  visibility: 1px;
  height: 1px;
  margin: -1px;
  border: none;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.hidden{display:none;}

/*box-sizing*/
*, *:before, *:after, input[type="search"]{
  box-sizing: border-box;
}

/*buttons*/
.btn{
  @include btn-reset;
  &--ghos{
    display: flex;
    align-items: center;
    color: $clr-main;
    svg{
      @include svg;
      stroke: $clr-main;
    }
    &:hover{
      color: $clr-hover;
      svg{stroke: $clr-hover;}
    }
    &--lg{
      font-size: 20px;
      line-height: 160%;
      svg{
        margin-left: 10px;
        width: 28px;
        height: 28px;
      }
    }
    &--sm{
      font-size: 16px;
      line-height: 160%;
      svg{
        margin-left: 6px;
        width: 16px;
        height: 16px;
      }
    }
  }
  &--primery{
    padding: 17px 44px;
    border-radius: $brs;
    background-color: $clr-main;
    display: flex;
    align-items: center;
    justify-content: center;
    width: min-conent;
    font-size: 16px;
    line-height: 160%;
    color: $clr-contr;
    &:hover{background-color: $clr-hover;}
  }
  &--secondary{
    padding: 0 23px;
    border-radius: $brs;
    border: 1px solid $clr-main;
    display: flex;
    align-items: center;
    justify-content: center;
    width: min-conent;
    font-size: 16px;
    line-height: 160%;
    height: 50px;
    color: $clr-main;
    svg{
      display: block;
      width: 24px;
      height: 24px;
      margin-right: 10px;
      transition: fill .24s;
      fill: $clr-main;
    }
    &:hover{
      background-color: $clr-main;
      color: $clr-contr;
      svg{fill: $clr-contr;}
    }
  }
  &--blc{
    width: 100%;
    margin-top: 24px;
  }
}



/*layout*/
.wrapper{
  width: 100%;
  min-height: 100vh;
  position: relative;	
}
.container{
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1500px;
  @media only screen and (max-width : 1023px){
    padding: 0 16px;
  }
}

/*typographyc*/
ol,ul,li,h1,h2,h3,h4,h5,h6,p,q,figure,figcaption,blockquote,cite,fieldset,hr{    
  margin:0;
  padding: 0;    
  border: none;
}
ul li, ol li{list-style: none;}
a{
  text-decoration: none;
  outline: none;
  transition: .25s ease;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  &:-moz-any-link:focus ,
  &:-moz-focusring,
  &::-moz-focus-inner,
  &::-moz-focus-outer{
    outline: 0!important;
    outline: none;
  }
  &:active {outline: none;}
  &[href^="tel:"],
  &[href^="mailto:"]{white-space: nowrap;}
}
img{
  display: block;
  max-width: 100%;
  height: auto;
}




//sec
.sec{
  padding: 100px 0;
  @media only screen and (max-width : 767px){padding: 50px 0;}
}
.sec--white{
  background-color: $clr-contr;
  .item{border: 1px solid $clr-brd;}
}
.sec--white-to-grey{
  padding: 0;
  background: linear-gradient(to bottom, $clr-contr 0%,$clr-contr 50%,$clr-bg 50%,$clr-bg 100%);
}
.sec--grey-to-white{
  padding: 0;
  background: linear-gradient(to bottom, $clr-bg 0%,$clr-bg 50%,$clr-contr 50%,$clr-contr 100%);
}
.sec-title{
  font-weight: 400;
  font-size: 42px;
  line-height: 130%;
  color: $clr-txt;
  position: relative;
  padding-top: 16px;
  &::before{
    content: '';
    display: block;
    height: 1px;
    width: 70px;
    position: absolute;
    top: 0;
    left: 0;
    width: 76px;
    background-color: $clr-main;
  }
  @media only screen and (max-width : 767px){
    font-size: 36px;
  }
}
.sec-txt{
  @include txt-lg;
  color: $clr-txt-sec;
  margin-top: 24px;
  @media only screen and (max-width : 767px){
    @include txt-sm;
  }
}
.sec-header{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 48px;
  @media only screen and (max-width : 1023px){
    .more-link{display: none;}
  }
}
.more-link{
  white-space: nowrap;
  padding: 12px 0;
  font-size: 20px;
  line-height: 160%;
  color: $clr-main;
  display: flex;
  align-items: center;
  justify-content: center;
  svg{
    stroke: $clr-main;
    display: block;
    margin-left: 10px;
    transition: stroke .25s;
  }
  &:hover{
    color: $clr-hover;
    svg{stroke: $clr-hover;}
  }
}
.sec-desc{
  font-size: 18px;
  line-height: 150%;
  color: $clr-txt-sec;
  margin: -32px 0 48px;
}

//page
.page{
  padding-bottom: 100px;
  position: relative;
  & + .sec:not(.sec--white){padding-top: 0;}
  &-header{
    margin-bottom: 24px;
    &__wrap{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }   
    &__logo{
      display: block;
      order: 2;
      width: 120px;
      margin-left: 24px;
      padding: 12px;
      background-color: $clr-contr;
    }
  }
  &-title{
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
  }
  &-row{
    display: flex;
    align-items: stretch;
    justify-content: space-between;  
  }
  &__aside{
    width: calc((100% - (24px * 4)) / 5);
  }
  &__content{
    width: calc(100% - ((100% - (24px * 4)) / 5));
    padding-left: 24px;
  }
  &-id{
    font-size: 14px;
    line-height: 17px;
    color: $clr-txt-sec;
    span{color: $clr-txt;}
  }  
  &-nav{
    border-bottom: 1px solid $clr-brd;
    margin-top: 36px;
    ul{
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      li{
        &:not(:last-child){margin-right: 24px;}
        a{
          display: block;
          padding: 12px 0 10px;
          white-space: nowrap;
          border-bottom: 2px solid transparent;
          font-size: 16px;
          line-height: 130%;
          color: $clr-txt-sec;
          &:hover{color: $clr-main;}
          &.active{
            color: $clr-main;
            border-bottom-color: $clr-main;
          }
        }
      }
    }
  }
  @media only screen and (max-width : 1299px){
    &__aside{width: calc((100% - (24px * 3)) / 4);}
    &__content{width: calc(100% - ((100% - (24px * 3)) / 4));}
  }
  @media only screen and (max-width : 1023px){
    &-row{display: block;}
    &__aside{width: 100%;}
    &__content{
      width: 100%;
      padding-left: 0;
    }
  }
  @media only screen and (max-width : 767px){
    padding-bottom: 50px;
    &-title{font-size: 28px;}
    &-header{
      &__wrap{display: block;}   
      &__logo{
        order: -1;
        width: 120px;
        margin-left: 0;
        margin-bottom: 16px;
      }
    }
  }
}

//grid
.grid{
  display: grid;  
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  align-items: stretch;
  margin-top: 24px;
  &:first-child{margin-top: 0;}
  &--3{
    grid-template-columns: repeat(3, 1fr);
  }
  &--4{
    grid-template-columns: repeat(4, 1fr);
    &.row-mode{
      grid-template-columns: repeat(1, 1fr);
      .banner-item{grid-column: span 1;}
    }
    .banner-item{grid-column: span 4;}
  }  
  &--5{
    grid-template-columns: repeat(5, 1fr);
    &.row-mode{
      grid-template-columns: repeat(1, 1fr);
    }
  } 
  @media only screen and (max-width : 1299px){
    &--3{
      grid-template-columns: repeat(2, 1fr);
    }
    &--4{
      grid-template-columns: repeat(3, 1fr);
      .banner-item{
        grid-column: span 3;
        grid-row-start: 3;
      }
      &.row-mode{
        grid-template-columns: repeat(1, 1fr);
        .banner-item{grid-column: span 1;}
      }
    } 
    &--5{
      grid-template-columns: repeat(4, 1fr);
      &.row-mode{
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
  @media only screen and (max-width: 1023px){
    &--3{
      grid-template-columns: repeat(1, 1fr);
    }
    &--5{
      grid-template-columns: repeat(3, 1fr);
      &.row-mode{
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
  @media only screen and (max-width : 991px){
    &--4{
      grid-template-columns: repeat(2, 1fr);
      .banner-item{
        grid-column: span 2;
        grid-row-start: 3;
      }
      &.row-mode{
        grid-template-columns: repeat(1, 1fr);
        .banner-item{grid-column: span 1;}
      }
    } 
    &--5{
      grid-template-columns: repeat(2, 1fr);
      &.row-mode{
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
  @media only screen and (max-width : 767px){
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    margin-top: 8px;
    &:first-child{margin-top: 0;}
  }
}
.row-mode .grid{
  &--4{
    grid-template-columns: repeat(1, 1fr);
    .banner-item{grid-column: span 1;}
  }  
  &--5{
    grid-template-columns: repeat(1, 1fr);
  } 
  @media only screen and (max-width : 1299px){
    &--4{
      grid-template-columns: repeat(1, 1fr);
      .banner-item{grid-column: span 1;}
    } 
    &--5{
      grid-template-columns: repeat(1, 1fr);
    }
  }
  @media only screen and (max-width: 1023px){
    &--5{
      grid-template-columns: repeat(1, 1fr);
    }
  }
  @media only screen and (max-width : 991px){
    &--4{
      grid-template-columns: repeat(1, 1fr);
      .banner-item{grid-column: span 1;}
    } 
    &--5{
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

//hiddens
.tab-show{
  display: none;
  @media only screen and (max-width : 1023px){
    display: block;
  }
}
.tab-hide{
  @media only screen and (max-width : 1023px){
    display: none;
  }
}

//table
.table{
  width: 100%;
  border-spacing: 1px 8px;
  & + .table{margin-top: -8px;}
  tr{
    td{
      padding: 6px 12px;
      font-size: 18px;
      line-height: 180%;
      text-align: left;
      &:not(:last-child){border-right: 2px solid $clr-bg;}
    }
    &:nth-child(odd){
      td{
        &:not(:last-child){border-right: 2px solid $clr-brd;}
      }
    }
    &:nth-child(odd){
      td{
        background-color: $clr-brd;
        &:not(:last-child){border-right: 2px solid $clr-brd;}
      }
    }
    th{
      color: $clr-contr;
      background-color: $clr-txt-sec;
      padding: 6px 12px;
      font-size: 18px;
      line-height: 180%;
      font-weight: 400;
      text-align: left;
    }
  }
}
.green{color: $clr-confirm;}








