.input{
  @include input-reset;
  background-color: $clr-contr;
  border: 1px solid $clr-brd;
  border-radius: $brs;
  color: $clr-txt;
  font-size: 14px;
  height: 60px;
  padding: 0 15px;
  &--sm{height: 40px;}
  &--lg{height: 48px;}
  /*placeholder*/
  &::-webkit-input-placeholder{opacity: 1; color: $clr-placeholder;}
  &::-moz-placeholder{opacity: 1; color: $clr-placeholder;}
  &:-moz-placeholder{opacity: 1; color: $clr-placeholder;}
  &:-ms-input-placeholder{opacity: 1; color: $clr-placeholder;}
  &:placeholder{opacity: 1;color: $clr-placeholder;}
  /*webkit autocomplit input*/
  &:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 100px $clr-contr !important;
    -webkit-text-fill-color: $clr-txt !important;
    color: $clr-txt !important;
  }
  &:focus{border-color: $clr-main;}
  &.error{border-color: $clr-alert;}
  //{outline: 5px solid rgba(69, 89, 153, .24);}
}
.fieldset{
  @include fieldset-reset;
}
.textarea{
  @include input-reset;
  @include textarea-reset; 
  background-color: $clr-contr;
  border: 1px solid $clr-brd;
  border-radius: $brs;
  color: $clr-txt;
  font-size: 14px;
  height: 120px;
  padding: 12px 14px;
  /*placeholder*/
  &::-webkit-input-placeholder{opacity: 1; color: $clr-placeholder;}
  &::-moz-placeholder{opacity: 1; color: $clr-placeholder;}
  &:-moz-placeholder{opacity: 1; color: $clr-placeholder;}
  &:-ms-input-placeholder{opacity: 1; color: $clr-placeholder;}
  &:placeholder{opacity: 1;color: $clr-placeholder;}
  /*webkit autocomplit input*/
  &:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 100px $clr-contr !important;
    -webkit-text-fill-color: $clr-txt !important;
    color: $clr-txt !important;
  }
  &:focus{border-color: $clr-main;}
  &.error{border-color: $clr-alert;}
  //{outline: 5px solid rgba(69, 89, 153, .24);}
}
.input:focus:required:valid,
.textarea:focus:required:invalid{color: $clr-txt;}
.input:required:valid,
.textarea:required:valid{color: $clr-txt;}

.label{
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 16px;
  &:last-child{margin-bottom: 0;}
  &__title{
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
    line-height: 130%;
  }
  &__error,
  &__sub{
    display: block;
    margin-top: 6px;
    font-size: 12px;
    line-height: 14px;
  }
  &__error{color: $clr-alert;}
  &__sub{color: $clr-txt-sec;}
  &__prefix{
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
    font-size: 14px;
    line-height: 16px;
    color: $clr-txt-sec;
    z-index: 2;
    white-space: nowrap;
    & + .input{padding-left: 92px;}
  }
}
.eye-btn{
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 3;
  width: 16px;
  height: 16px;
  background: url(../img/svg/open-eye.svg) center center no-repeat;
  &.hide{background-image: url(../img/svg/closed-eye.svg);}
}
.label__title ~ .eye-btn{top: 48px;}
.label__title ~ .input--sm ~ .eye-btn{top: 37px;}
.label__title ~ .input--lg ~ .eye-btn{top: 40px;}

.label-add{
  display: block;
  width: fit-content;
  font-size: 14px;
  line-height: 16px;
  color: $clr-main;
  margin: -10px 0 16px;
  &:hover{color: $clr-hover;}
}

.filter-item{
  margin-bottom: 24px;
  &:last-child{margin-bottom: 0;}
  &__title{
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
  }
  @media only screen and (max-width : 767px){
    margin-bottom: 8px;
  }
}

.cheepses{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: -8px;
  @media only screen and (max-width : 1023px){
    flex-wrap: nowrap;
    width: calc(100% + 32px);
    margin-left: -16px;
    overflow-x: auto;
    padding: 3px 0;
    &::before,
    &::after{
      content: '';
      display: block;
      width: 16px;
      height: 100%;
      flex-shrink: 0;
    }
    &::-webkit-scrollbar{display: none;}
    &::-webkit-scrollbar-track{display: none;}
    &::-webkit-scrollbar-thumb{display: none;}    
  }
}
.cheeps{
  margin: 8px 8px 0 0;
  display: block;
  &:last-child{margin-right: 0;}
  span{
    padding: 8px 12px;
    display: block;
    white-space: nowrap;
    background-color: $clr-brd;
    border: 1px solid $clr-brd;
    border-radius: $brs;
    font-size: 12px;
    line-height: 130%;
    color: $clr-txt-sec;
    transition: color .25s, border-color .25s, background-color .25s;
    cursor: pointer;
    position: relative;
    &::before{
      content: '';
      display: block;
      position: absolute;
      top: -3px;
      left: -3px;
      right: -3px;
      bottom: -3px;
      border: 2px solid #EFDAF5;
      border-radius: 10px;
      opacity: 0;
      transition: opacity .25s;
    }
  }
  &:hover{
    span{color: $clr-txt;}
  }
  input{
    display: none;
    &:checked + span{
      background-color: $clr-contr;
      color: $clr-txt;
      &::before{opacity: 1;}
    }
  }
}

.sort{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 24px 0;
  &:first-child{margin-top: 0;}
  &__rows{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .sort__row:not(:last-child){margin-right: 24px;}
  }
  &__row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    & > *:not(:last-child){margin-right: 8px;}
  }
  &__txt{
    font-size: 14px;
    line-height: 16px;
    b{font-weight: 500;}
  }
  .styled-select{width: 220px;}
  @media only screen and (max-width : 1299px){
    &__rows{
      display: block;
      .sort__row:not(:last-child){margin: 0 0 8px;}
    }
  }
  @media only screen and (max-width : 767px){
    display: block;
    margin-top: 8px;
    &__row{
      margin-bottom: 8px;
      &:last-child{margin-bottom: 0;}
    }
    &__rows{
      .sort__txt{width: 90px;}
    }
    .styled-select{
      width: auto;
      flex-grow: 1;
    }
  }
}
.grid-select{
  display: flex;
  align-items: center;
  justify-content: center;
  &__item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    svg{
      display: block;
      fill: $clr-txt-sec;
      transition: fill .25s;
    }
    &:hover svg{fill: $clr-hover;}
    &.active svg{fill: $clr-main;}
  }
  @media only screen and (max-width : 767px){
    &--mob-hide{display: none;}
  }
}

.styled-select{
  position: relative;
  select{display: none;}
}
.select-selected {
  background-color: $clr-contr; 
  height: 40px;
  line-height: 38px;
  color: $clr-txt;
  padding: 0 40px 0 14px;
  border: 1px solid $clr-brd;
  cursor: pointer;
  border-radius: $brs;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.select-selected:after {
  position: absolute;
  content: '';
  background: url(../img/svg/dropdown.svg) center center no-repeat;
  background-size: 100% auto;
  width: 17px;
  height: 16px;
  top: 50%;
  right: 12px;
  margin-top: -8px;
}
.select-selected.select-arrow-active:after{transform: rotate(180deg);}
.select-selected.select-arrow-active{border-radius: $brs $brs 0 0;}
.select-items div{
  color: clr-txt;
  font-size: 14px;
  padding: 14px;
  cursor: pointer;
}
.select-items {
  margin-top: -1px;
  position: absolute;
  background-color: $clr-contr;
  border: 1px solid $clr-brd;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border-radius: 0 0 $brs $brs;
  max-height: 250px;
  overflow-y: auto;
}
.select-hide {display: none;}
.select-items div:hover, .same-as-selected {
  background-color: $clr-brd;
  color: $clr-main;
}
div.same-as-selected{color: $clr-main;}
.select-placeholder{color: $clr-placeholder;}
.styled-select.lg{
  .select-selected{
    height: 60px;
    line-height: 58px;
    &::after{right: 18px;}
  }
}

.switcherblc{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  span{
    font-size: 16px;
    line-height: 19px;
    display: block;
    margin-right: 16px;    
  }
}
.switcherrow{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 16px 0;
  border-top: 1px solid $clr-brd;
  &:first-child{border-top: none;}
  &__name{
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 16px;
    span{
      &:not(:last-child){margin-right: 6px;}
    }
  }
}
.switcher{
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  &__btn{
    width: 50%;
    &:first-child{border-radius: $brs 0 0 $brs;}
    &:last-child{border-radius: 0 $brs $brs 0;}
    border: 1px solid $clr-main;
    height: 50px;
    text-align: center;
    font-size: 16px;
    color: $clr-main;
    &.active{
      color: $clr-contr;
      background-color: $clr-main;
    }
  }
}

.mob-filter-btn{
  display: none;
  @media only screen and (max-width : 1023px){
    display: block;
    width: 100%;
    position: sticky;
    top: 12px;
    z-index: 710;
    margin-bottom: 24px;
    transition: all .25s linear;
    &.up{top: 56px;}
  }
  @media only screen and (max-width : 767px){
    margin-bottom: 8px;
  }
}

.filter-bar{
  &__container{
    border-radius: $brs;
    background-color: $clr-contr;
  }
  &__section{
    padding: 16px;
    border-bottom: 1px solid $clr-brd;
  }
  &__btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    line-height: 130%;
    color: $clr-txt;
    width: 100%;
    &:hover{
      color: $clr-hover;
      svg{stroke: $clr-hover;}
    }
    svg{
      display: block;
      transition: stroke .25s, transform .25s;
      stroke: $clr-main;
    }
    &.open{
      svg{transform: rotate(180deg);}
    }
    span{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .hint{margin-left: 6px;}
    }
  }
  &__title{
    font-size: 16px;
    line-height: 130%;
    font-weight: 400;
    color: $clr-txt;
    margin-bottom: 16px;
  }
  &__switcherblc{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    line-height: 130%;
    color: $clr-txt;
    width: 100%;
  }
  &__hide{
    padding-top: 16px;
    display: none;
  }
  &__submit{
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
  }
  &__reset{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 16px 0 8px;
    color: $clr-alert;
    svg{
      margin-left: 6px;
      stroke: $clr-alert;
      display: block;
    }
  }
  @media only screen and (max-width : 1023px){
    position: fixed;
    z-index: 900;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    background-color: $clr-contr;
    display: none;
    &.open{display: block;}
    &__container{padding-bottom: 91px;}
    &__section{
      &--mob-full{
        padding: 0;
        border-bottom: none;
      }
    }
    &__mob-footer{
      position: fixed;
      z-index: 999;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: $clr-contr;
      border-bottom: none;
      border-top: 1px solid $clr-brd;
      display: flex;
      align-items: center;
      justify-content: space-between;
      & > *{width: calc(50% - 8px);}
    }
  }
  @media only screen and (max-width : 767px){
    &__mob-footer{
      display: block;
      & > *{width: 100%;}
    }
    &__submit{height: 40px;}
    &__reset{margin: 12px 0 0;}
    &__container{padding-bottom: 105px;}
  }
  @media only screen and (min-width : 1024px){
    .search{margin: 0;}
    .search__input {
      height: 40px;
      padding: 0 14px;
      border-width: 1px;
      border-color: $clr-brd;
      &:focus{border-color: $clr-main;}
    }
    .search__submit {
      position: absolute;
      top: 12px;
      left: auto;
      right: 12px;
      width: 16px;
      height: 16px;
    }
  }
}
.filter-categorys{
  &__group{
    margin-bottom: 6px;
    &:last-child{margin-bottom: 0;}
  }
  &-btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding-left: 8px;
    font-size: 14px;
    line-height: 100%;
    color: $clr-txt;
    text-align: left;
    svg{
      display: block;
      transition: stroke .25s, transform .25s;
      stroke: $clr-txt;
      width: 100%;
      height: 100%;
    }
    img{
      flex-shrink: 0;
      width: 24px;
      margin-right: 8px;
    }
    span{
      flex-grow: 1;
      white-space: normal;
    }
    i{
      display: block;
      width: 14px;
      height: 14px;
      flex-shrink: 0;
      margin-left: 8px;
    }
    &:hover{
      color: $clr-hover;
      svg{stroke: $clr-hover;}
    }
    &.open{
      svg{transform: rotate(180deg);}
    }
  }
  &__sublist{padding: 6px 0 0 40px;}
  &__item{
    text-align: left;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 16px;
    color: $clr-txt;
    span{color: $clr-txt-sec;}
    &:hover{color: $clr-main;}
  }
  &__hide{display: none;}
}
.filter-search{
  position: relative;
  margin-bottom: 16px;
  &__input{
    height: 40px;
    padding: 0 14px;
  }
  &::before{
    content: '';
    display: block;
    position: absolute;
    top: 12px;
    right: 12px;
    width: 16px;
    height: 16px;
    background: url(../img/svg/search.svg) center center no-repeat;
    background-size: contain;
    z-index: 3;
    user-select: none;
    pointer-events: none;
  }
}
.filter-brends{
  max-height: 554px;
  overflow-y: auto;
  padding-right: 10px;
  &::-webkit-scrollbar {width: 4px;}
  &::-webkit-scrollbar-track {
    background: $clr-brd;
    background-color: $clr-brd;
    border: none;
    box-shadow: none;
    outline: none;
    border-radius: 2;
  }  
  &::-webkit-scrollbar-thumb {
    background: $clr-main;
    background-color: $clr-main;
    border-radius: 2px;
    border: none;
    transition: background-color .25s;
    &:hover {
      background: $clr-hover;
      background-color: $clr-hover;
    }
  }  
  &__letter{
    margin-bottom: 16px;
    &:last-child{margin-bottom: 0;}
    &-name{
      padding-left: 28px;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 12px;
    }
  }
  &__item{margin-bottom: 12px;}
}
.filter-brends-collection{
  margin: 12px 0 16px;
  padding-left: 16px;
  &__title{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 8px;
  }
  &__list{
    .check{margin-bottom: 12px;}
  }
  &__more{
    font-size: 14px;
    line-height: 16px;
    color: $clr-main;
    &:not(:last-child){margin-bottom: 12px;}
    &:hover{color: $clr-hover;}
    & ~ .check{display: none;}
    &.open{
      display: none;
      & ~ .check{display: flex;}
    }
  }
}

.switchbox{
  span{
    display: block;
    width: 36px;
    height: 20px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid $clr-txt-sec;
    position: relative;
    cursor: pointer;
    transition: border-color .25s;
    &::before{
      content: '';
      display: block;
      position: absolute;
      border-radius: 50%;
      background-color: $clr-txt-sec;
      transition: background-color .25s, left .25s;
      width: 16px;
      height: 16px;
      top: 1px;
      left: 1px;
    }
    &:hover{
      border-color: $clr-main;
      &::before{background-color: $clr-main;}
    }
  }
  input{
    display: none;
    &:checked + span{
      border-color: $clr-main;
      &::before{
        background-color: $clr-main;
        left: 17px;
      }
    }
  }
}

.check{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  .radiobutton,
  .checkbox{margin-right: 12px;}
  &__txt{
    font-size: 14px;
    line-height: 16px;
    color: $clr-txt;
    span{color: $clr-txt-sec;}
    a{
      color: $clr-main;
      text-decoration: underline;
      white-space: nowrap;
      &:hover{text-decoration: none;}
    }
  }
}
.checkbox{
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  cursor: pointer;
  span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    background-color: $clr-contr;
    border-radius: 2px;
    border: 1px solid $clr-brd;
    svg{
      display: block;
      stroke: $clr-contr;
    }
  }
  &:hover span{border-color: $clr-main;}
  input{
    display: none;
    &:checked + span{
      background-color: $clr-main;
      border-color: $clr-main;
    }
  }
}
.checklist{
  .check:not(:last-child){margin-bottom: 12px;}
}
.radiobutton{
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  cursor: pointer;
  span{
    display: block;
    width: 16px;
    height: 16px;
    background-color: $clr-contr;
    border-radius: 50%;
    border: 1px solid $clr-brd;
  }
  &:hover span{border-color: $clr-main;}
  input{
    display: none;
    &:checked + span{
      background-color: $clr-main;
      border-color: $clr-main;
      box-shadow: 0 0 0 2px $clr-contr inset;
    }
  }
}

.fromto{
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  &__from,
  &__to{
    display: block;
    position: relative;
    width: calc(50% - 8px);
    span{
      position: absolute;
      left: 14px;
      top: 12px;
      font-size: 14px;
      line-height: 16px;
      color: $clr-txt-sec;
    }
  }
  &__input{
    height: 40px;
    padding: 0 0 0 44px;
  }
}

.filter-bar-brend{
  text-align: center;
  font-size: 24px;
  line-height: 29px;
  color: $clr-txt;
  &__img{
    width: 100%;
    padding: 0 12px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.filter-cheeps{
  display: block;
  margin-right: 12px;
  cursor: pointer;
  &__baloon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid $clr-main;
    border-radius: $brs;
    color: $clr-main;
    span{
      white-space: nowrap;
      font-size: 14px;
      line-height: 16px;
      padding: 12px;
    }
  }
  &__delete{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid $clr-main;
    svg{
      display: block;
      stroke: $clr-main;
      transition: stroke .25s;
    }
    &:hover{
      svg{stroke: $clr-alert;}
    }
  }
  input{
    display: none;
    &:checked + .filter-cheeps__baloon{
      background-color: $clr-main;
      color: $clr-contr;
      .filter-cheeps__delete{
        border-left-color: $clr-contr;
        svg{stroke: $clr-contr;}
      }
    }
  }
}

.number{
  position: relative;
  width: 100%;
  &__input{
    height: 40px;
    text-align: center;
    padding: 0;
    &[type="number"]::-webkit-outer-spin-button,
    &[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &[type="number"] {-moz-appearance: textfield;}
    &[type="number"]:hover,
    &[type="number"]:focus {-moz-appearance: number-input;}
    &[type=number]::-webkit-inner-spin-button,
    &[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  &__btn-minus,
  &__btn-plus{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: 32px;
    height: 32px;
    top: 4px;
    z-index: 3;
    svg{
      display: block;
      transition: fill .25s;
      fill: $clr-main
    }
    &:hover{
      background-color: $clr-main;
      svg{fill: $clr-contr}
    }
  }
  &__btn-minus{left: 4px;}
  &__btn-plus{right: 4px;}  
}

.options{
  &__title{
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 130%;
  }
  &__row{
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
    &--5{
      .options__more{width: calc((100% - (8px * 4)) / 5);}
      .option{
        width: calc((100% - (8px * 4)) / 5);
        span{padding: 8px;}
        display: none;
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4){display: block;}
        &:nth-child(5n+5){margin-right: 0;}
      }
      &.show{
        .option{display: block;}
        .options__more{
          font-size: 0;
          &::before{
            content: 'Скрыть';
            font-size: 12px;
          }
        }
      }
    }
    &--colors{
      .options__more{width: calc((100% - (8px * 10)) / 11);}
      .option-color{
        width: calc((100% - (8px * 10)) / 11);
        display: none;
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(9),
        &:nth-child(10){display: block;}
        &:nth-child(11n+11){margin-right: 0;}
      }
      .options__more span{display: none;}
      &.show{
        .option-color{display: block;}
        .options__more{
          font-size: 0;
          &::before{
            content: 'X';
            font-size: 12px;
          }
        }
      }
      
    }
  }  
  &__more{
    padding: 8px 12px;
    border: 1px solid $clr-brd;
    border-radius: $brs;
    font-size: 12px;
    line-height: 130%;
    color: $clr-txt-sec;
    transition: color .25s, border-color .25s, background-color .25s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    &:hover{
      color: $clr-txt;
      border-color: $clr-txt;
    }
  }
  @media only screen and (max-width : 767px){
    &__row{
      &--5{
        .options__more{width: calc((100% - (8px * 3)) / 4);}
        .option{
          width: calc((100% - (8px * 3)) / 4);          
          &:nth-child(4){display: none;}
          &:nth-child(5n+5){margin-right: 8px;}
          &:nth-child(4n+4){margin-right: 0;}
        }
        &.show{
          .option:nth-child(4),
          .option{display: block;}
        }
      }
      &--colors{
        .options__more{width: calc((100% - (8px * 7)) / 8);}
        .option-color{
          width: calc((100% - (8px * 7)) / 8);
          &:nth-child(8),
          &:nth-child(9),
          &:nth-child(10){display: none;}
          &:nth-child(11n+11){margin-right: 8px;}
          &:nth-child(8n+8){margin-right: 0;}
        }
        &.show{
          .option-color:nth-child(8),
          .option-color:nth-child(9),
          .option-color:nth-child(10),
          .option-color{display: block;}
        }

      }
    } 
  }
}
.option{
  margin: 0 8px 8px 0;
  display: block;
  &:last-child{margin-right: 0;}
  span{
    height: 100%;
    padding: 8px 12px;
    display: block;       
    border: 1px solid $clr-brd;
    border-radius: $brs;
    font-size: 12px;
    line-height: 130%;
    color: $clr-txt-sec;
    transition: color .25s, border-color .25s, background-color .25s;
    cursor: pointer;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    &::before{
      content: '';
      display: block;
      position: absolute;
      top: -3px;
      left: -3px;
      right: -3px;
      bottom: -3px;
      border: 2px solid #EFDAF5;
      border-radius: 10px;
      opacity: 0;
      transition: opacity .25s;
    }
  }
  &:hover{
    span{color: $clr-txt;}
  }
  input{
    display: none;
    &:checked + span{
      background-color: $clr-contr;
      color: $clr-txt;
      &::before{opacity: 1;}
    }
  }
}
.option-color{
  margin: 0 8px 8px 0;
  display: block;  
  &:last-child{margin-right: 0;}
  span{
    display: block;
    width: 100%;
    padding-top: 100%; 
    border: 1px solid $clr-brd;
    border-radius: $brs;
    transition: color .25s, border-color .25s, background-color .25s;
    cursor: pointer;
    position: relative;
    &::before{
      content: '';
      display: block;
      position: absolute;
      top: -3px;
      left: -3px;
      right: -3px;
      bottom: -3px;
      border: 2px solid #EFDAF5;
      border-radius: 10px;
      opacity: 0;
      transition: opacity .25s;
    }
  }
  &:hover{
    span{color: $clr-txt;}
  }
  input{
    display: none;
    &:checked + span{
      background-color: $clr-contr;
      color: $clr-txt;
      &::before{opacity: 1;}
    }
  }
}

.form-sec{
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid $clr-brd;
  &:last-child{
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
  &__title{
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }
}

.file{
  margin: 16px 0;
  display: block;
  position: relative;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px 0 48px;
  border: 1px dashed $clr-brd;
  border-radius: $brs;
  background: url(../img/svg/attachment.svg) 17px center no-repeat;
  background-size: 16px auto;
  cursor: pointer;
  transition: border-color .25s;
  &:hover{border-color: $clr-main;}
  &__txt{
    color: $clr-txt-sec;
    font-size: 14px;
    line-height: 150%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__del{
    display: none;
    svg{
      display: block;
      flex-shrink: 0;
      stroke: $clr-alert;
    }
  }
  &.value{
    border-color: $clr-main;
    .file__txt{color: $clr-txt;}
    .file__del{display: block;}
  }
}

.form{
  &__title{
    margin: 40px 0 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    &:first-child{margin-top: 0;}
  }
  &__row{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    & > *{width: calc(50% - 8px);}
    &--3{
      & > *{width: calc((100% - 32px) / 3);}
    }
  }
  &__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    .form__title{margin: 0;}
    &-btn{
      font-size: 14px;
      line-height: 130%;
      color: $clr-main;
      &:hover{color: $clr-hover;}
    }
  }
  &__hide{display: none;}
  &__footer{
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row-reverse;
  }
  &__subtxt{
    margin-left: 16px;
    font-size: 14px;
    line-height: 150%;
    color: $clr-txt-sec;
    a{
      color: $clr-main;
      text-decoration: underline;
      &:hover{text-decoration: none;}
    }
  }
  &__accordion{
    border-top: 1px solid $clr-brd;
    &:first-child{border-top: none;}
    &-hide{
      display: none;
      padding: 0 70px 16px 0;
    }
  }
  @media only screen and (max-width : 767px){
    &__row{
      display: block;
      margin-bottom: 16px;
      & > *{width: 100%;}
      &--3{
        & > *{width: 100%;}
      }
    }
    &__header{
      .form__title{margin-right: 12px;}
    }
    &__footer{
      margin-top: 24px;
      display: block;
      .btn--primery{width: 100%;}
    }
    &__subtxt{
      margin: 0 0 16px;
    }
  }
}
.smart-radio{
  display: block;
  &__cust{
    width: 100%;
    padding: 16px;
    border: 1px solid $clr-brd;
    border-radius: $brs;
    transition: all .25s;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    &:hover{
      border-color: $clr-main;
      .smart-radio__button{border-color: $clr-main;}
    }
  }
  &__button{
    margin-right: 12px;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid $clr-brd;
    flex-shrink: 0;
    transition: all .25s;
  }
  &__name{
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    display: block;
  }
  &__txt{
    font-size: 12px;
    line-height: 150%;
    color: $clr-txt-sec;
  }
  input{
    display: none;
    &:checked + .smart-radio__cust{
      border-color: transparent;
      background-color: $clr-bg;
      box-shadow: 0 0 0 4px rgba(69, 89, 153, .24);
      .smart-radio__button{
        border-color: $clr-main;
        background-color: $clr-main;
        box-shadow: 0 0 0 2px $clr-contr inset;
      }
    }
  }
  @media only screen and (max-width : 767px){
    &:not(:last-child){margin-bottom: 12px;}
  }
}

.rait-select{
  margin-left: 12px;
  input{
    display: none;
    &:nth-child(1):checked ~ .rait-select__list{      
      .rait-select__item{        
        &:nth-child(1){
          img{
            &:first-child{display: block;}
            &:last-child{display: none;}
          }
        }      
      }
    }
    &:nth-child(2):checked ~ .rait-select__list{      
      .rait-select__item{        
        &:nth-child(1),
        &:nth-child(2){
          img{
            &:first-child{display: block;}
            &:last-child{display: none;}
          }
        }      
      }
    }
    &:nth-child(3):checked ~ .rait-select__list{      
      .rait-select__item{        
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3){
          img{
            &:first-child{display: block;}
            &:last-child{display: none;}
          }
        }      
      }
    }
    &:nth-child(4):checked ~ .rait-select__list{      
      .rait-select__item{        
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4){
          img{
            &:first-child{display: block;}
            &:last-child{display: none;}
          }
        }      
      }
    }
    &:nth-child(5):checked ~ .rait-select__list{      
      .rait-select__item{        
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5){
          img{
            &:first-child{display: block;}
            &:last-child{display: none;}
          }
        }      
      }
    }
  }
  &__list{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &:hover{
      .rait-select__item{
        img{
          &:first-child{display: block !important;}
          &:last-child{display: none !important;}
        }
        &:hover ~ .rait-select__item{
          img{
            &:first-child{display: none !important;}
            &:last-child{display: block !important;}
          }
        }
      }
    }
  }
  &__item{
    padding-right: 6px;
    cursor: pointer;
    &:last-child{padding-right: 0;}
    img{
      &:first-child{display: none;}
    }
  }
}

@media only screen and (min-width : 1024px){
  .popup__main--review .textarea{height: 80px;}
}





