.item{
  height: 100%;
  background-color: $clr-contr;
  overflow: hidden;
  border-radius: $brs;
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
  &__pic{
    position: relative;
    padding-bottom: 4px;
    .swiper-wrapper{
      align-items: stretch;
      .swiper-slide{
        height: unset;
        padding: 16px;
        a{
          display: block;
          width: 100%;
          padding-top: 100%;
          position: relative;
          overflow: hidden;
          img{
            width: 100%;
            height: 100%;
            max-width: unset;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            object-fit: contain;
          }
        }
      }
    }
  }
  &__pagination{
    position: absolute;
    bottom: 4px !important;
    left: 0;
    right: 0;
    z-index: 5;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .swiper-pagination-bullet{
      margin: 0 1px;
      position: relative;
      flex-grow: 1;
      width: unset;
      height: 4px;
      background-color: $clr-brd;
      cursor: pointer;
      border-radius: 0;
      opacity: 1;
      transition: background-color .25s;
      &::before{
        content: '';
        display: block;
        position: absolute;
        top: -4px;
        bottom: -4px;
        left: 0;
        right: 0;
        cursor: pointer;
      }
      &:hover{background-color: $clr-main;}
      &.swiper-pagination-bullet-active{background-color: $clr-main;}
    }
  }
  &__left-bar{
    position: absolute;
    z-index: 16;
    top: 16px;
    left: 16px;
  }  
  &__flag{
    width: fit-content;
    margin-bottom: 6px;
    padding: 8px 8px 8px 34px;
    font-size: 12px;
    line-height: 130%;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    border-radius: 6px;
    position: relative;
    &::before{
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      position: absolute;
      left: 8px;
      top: 50%;
      transform: translateY(-50%);
      background: center center no-repeat;
      background-size: contain;
    }
    &--new{
      background: linear-gradient(90deg, #FFD034 0%, #FFAA00 100%);
      &::before{background-image: url(../img/svg/flag-new.svg);}
    }
    &--hit{
      background: linear-gradient(90deg, #FC8507 0%, #F61C0D 99%);
      &::before{background-image: url(../img/svg/flag-hit.svg);}
    }
    &--recomend{
      background: linear-gradient(90deg, #69AD5B 0%, #2F5B3A 100%);
      &::before{background-image: url(../img/svg/flag-recomend.svg);}
    }
    &--discount{
      background: linear-gradient(90deg, #3B5998 0%, #2A365F 100%);
      &::before{background-image: url(../img/svg/flag-discount.svg);}
    }
    &--sell{
      background: linear-gradient(90deg, #D45745 0%, #A5001C 100%);
      &::before{background-image: url(../img/svg/flag-sell.svg);}
    }
    &--gift{
      background: linear-gradient(90deg, #FFAA00 0%, #FC8507 100%);
      &::before{background-image: url(../img/svg/flag-gift.svg);}
    }
    &--plumbing{
      background: linear-gradient(90deg, #408CCB 0%, #25356F 100%);
      &::before{background-image: url(../img/svg/flag-plumbing.svg);}
    }
  }
  &__right-bar{
    position: absolute;
    z-index: 16;
    top: 16px;
    right: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &__icon{
    width: 24px;
    margin-left: 12px;
  }
  &__desc{
    flex-grow: 1;
    position: relative;
    padding: 12px 16px 16px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: column;
  }
  &__tools{
    position: absolute;
    top: 12px;
    right: 16px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &__tool{
    &:not(:first-child){margin-left: 8px;}
    width: 20px;
    height: 20px;
    svg{
      display: flex;
      width: 100%;
      height: 100%;
      transition: stroke .25s, fill .25s;      
    }    
    &.scale{
      svg{fill: $clr-main;}
      &:hover svg{fill: $clr-hover;}
      &.active svg{fill: $clr-alert;}      
    }
    &.fav{
      svg{stroke: $clr-main;}
      &:hover svg{stroke: $clr-hover;}
      &.active svg{
        stroke: $clr-alert;
        fill: $clr-alert;
      }
    }
    &.fast-view{
      svg{stroke: $clr-main;}
      &:hover svg{stroke: $clr-hover;}    
    }
  }
  &__row{
    margin-bottom: 4px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 12px;
    line-height: 150%;
    &-name{
      margin-right: 3px;
      color: $clr-txt-sec;
    }
    &-val{
      color: $clr-txt;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      img{
        width: 12px;
        flex-shrink: 0;
        margin-left: 4px;
      }
    }
    &:nth-child(4) ~ .item__row{display: none;}
  }
  &__options{
    margin-top: 12px;
    flex-grow: 1;
    .item__row{justify-content: space-between;}
  }
  &__name{
    font-size: 14px;
    line-height: 150%;
    color: $clr-txt;
    &:hover{color: $clr-main;}
  }
  &__price{
    margin-top: 16px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    min-height: 48px;
    &-row{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 4px;
    }
    &-old{
      font-size: 12px;
      line-height: 150%;
      letter-spacing: .1em;
      text-decoration-line: line-through;
      color: $clr-txt-sec;
    }
    &-summ,
    &-persent{
      margin-left: 8px;
      font-size: 12px;
      line-height: 150%;
      letter-spacing: .1em;
      color: $clr-contr;
      padding: 0 4px;      
    }
    &-persent{background-color: $clr-alert;}
    &-summ{background-color: $clr-confirm;}
    &-val{
      font-weight: 600;
      font-size: 20px;
      line-height: 130%;
      color: $clr-txt;
      span{font-weight: 400;}
    }
    &-opt{
      font-size: 14px;
      line-height: 130%;
      color: $clr-txt-sec;
    }
  }
  &__shopcart{
    position: absolute;
    z-index: 20;
    bottom: -11px;
    right: -11px;
  }
  &__shopcart-btn{
    width: 64px;
    height: 64px;
    border: 1px solid #EFDAF5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    span{display: none;}
    svg{
      display: block;
      stroke: $clr-main;
    }
    &:hover{
      border-color: $clr-hover;
      svg{stroke: $clr-hover;}
    }
    &.added{
      display: none;
      & ~ .item__shopcart-number{display: block;}
    }
  }
  &__shopcart-number{
    position: relative;
    display: none;
  }
  &__shopcart-input{
    width: 64px;
    height: 64px;
    border: 1px solid #EFDAF5;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    padding: 0;
    color: $clr-txt;
    &[type="number"]::-webkit-outer-spin-button,
    &[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &[type="number"] {-moz-appearance: textfield;}
    &[type="number"]:hover,
    &[type="number"]:focus {-moz-appearance: number-input;}
    &[type=number]::-webkit-inner-spin-button,
    &[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  &__shopcart-minus,
  &__shopcart-plus{
    position: absolute;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $clr-contr;
    box-shadow: 0 4px 11px rgba(0, 0, 0, .06);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    svg{
      display: block;
      stroke: $clr-main;
      transition: stroke .25s;
    }
    &:hover{
      background-color: $clr-hover;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0);
      svg{stroke: $clr-contr;}
    }
  }
  &__shopcart-minus{
    top: 22px;
    left: -10px;
  }
  &__shopcart-plus{
    left: 22px;
    top: -10px;
  }
  &__check{
    position: absolute;
    z-index: 16;
    top: 16px;
    left: 16px;
    &-box{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 34px;
      height: 34px;
      background-color: $clr-confirm;
      border: 1px solid $clr-confirm;
      border-radius: 4px;
    }
    &-val{
      position: absolute;
      left: 40px;
      top: 50%;
      transform: translateY(-50%);
      padding: 2px 8px;
      white-space: nowrap;
      background-color: $clr-alert;
      border-radius: 4px;
      color: $clr-contr;
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: .1em;
    }
  }
  &__add{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    border: 1px solid $clr-edit;
    border-radius: 4px;
    svg{
      display: block;
      fill: $clr-edit;
      transition: fill .25s;
    }
    &:hover{
      background-color: $clr-edit;
      svg{fill: $clr-contr;}
    }
  }
  &__delete{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    border: 1px solid $clr-alert;
    border-radius: 4px;
    svg{
      display: block;
      stroke: $clr-alert;
      transition: stroke .25s;
    }
    &:hover{
      background-color: $clr-alert;
      svg{stroke: $clr-contr;}
    }
  }
  &__prinery-btn,
  &__secondary-btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    height: 40px;
    font-size: 14px;
    line-height: 16px;
    border-radius: $brs;
    img{
      width: 22px;
      margin-right: 12px;
    }
  }
  &__prinery-btn{
    background-color: $clr-main;
    color: $clr-contr;
  }
  &__secondary-btn{
    border: 1px solid $clr-main;
    color: $clr-main;
    &:hover{
      background-color: $clr-main;
      color: $clr-contr;
    }
  }
  &--short{
    flex-direction: row;
    height: auto;
    border: 1px solid $clr-brd;
    margin-bottom: 16px;
    &:last-child{margin-bottom: 0;}
    .item__main{
      width: 208px;
      min-height: 208px;
      padding: 16px;
    }
    .item__pic{
      height: 100%;
      padding-bottom: 0;
    }
    .item__pic .swiper-slide{padding: 0 0 10px;}
    .item__pic .swiper-wrapper .swiper-slide a{
      padding-top: 0;
      height: 100%;
    }
    .item__desc{width: 100%;}
    .item__pagination{
      bottom: 0 !important;
      left: 0;
      padding: 0;
    }
    .item__name{font-size: 18px;}
    .item__price{
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      min-height: unset;
    }
    .item__price-row{margin-bottom: 0;}
    .item__prinery-btn{margin-top: 8px;}
  }
  &--gallery{
    .item__pic .swiper-wrapper .swiper-slide{padding: 0;}
    .item__pic .swiper-wrapper .swiper-slide a img{object-fit: cover}
    .item__pagination{bottom: 10px !important;}
    .item__price{min-height: unset;}
  }
  &__rows{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__areas{
    position: absolute;
    bottom: 18px;
    right: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &__area{margin-left: 8px;}
  @media only screen and (max-width : 1299px){
    &__tool{
      &.fast-view{display: none;}
    }
  }
  @media only screen and (max-width : 767px){
    width: calc(50vw - 20px);
    max-width: 100%;
    &__pic{
      .swiper-wrapper{
        .swiper-slide{padding: 8px;}
      }
    }
    &__left-bar{
      top: 8px;
      left: 8px;
    }
    &__flag{
      padding: 6px 6px 6px 20px;
      font-size: 9px;
      font-weight: 500;
      &::before{
        width: 12px;
        height: 12px;
        left: 6px;
      }
    }
    &__right-bar{
      top: 8px;
      right: 8px;
    }
    &__icon{
      width: 16px;
      margin-left: 8px;
    }
    &__desc{padding: 8px 12px 12px;}
    &__tools{position: static;}
    &__row{
      &:nth-child(2) ~ .item__row{display: none;}
    }
    &__price{
      min-height: 37px;
      &-old{font-size: 10px;}
      &-summ,
      &-persent{
        margin-left: 2px;
        font-size: 10px;
        padding: 0;      
      }
      &-persent{
        color: $clr-alert;
        background-color: transparent;
      }
      &-summ{
        color: $clr-confirm;
        background-color: transparent;
      }
      &-val{font-size: 14px;}
    }
    &__check{
      top: 8px;
      left: 8px;
      &-box{
        width: 19px;
        height: 19px;
        img{width: 15px;}
      }
      &-val{
        left: 25px;
        padding: 2px 4px;
        font-size: 10px;
      }
    }
    &__delete,
    &__add{
      width: 19px;
      height: 19px;
      svg{
        width: 15px;
        height: 15px;
      }
    }
    &__prinery-btn,
    &__secondary-btn{
      img{margin-right: 6px;}
    }
    &--short{
      width: 100%;
      margin-bottom: 8px;
      position: relative;
      padding-bottom: 50px;
      &:last-child{margin-bottom: 0;}
      .item__main{
        width: 130px;
        min-height: 130px;
        padding: 12px;
      }
      .item__desc{padding-top: 12px;}
      .item__name{font-size: 14px;}
      .item__tools{
        position: absolute;
        right: 12px;
      }
      .item__row{
        line-height: 24px;
        margin-bottom: 6px;
      }
      .item__prinery-btn{
        margin-top: 0;
        position: absolute;
        top: 100%;
        right: 12px;
        margin-top: 0;
        width: calc(100vw - 32px - 24px);
      }
    }
    &__areas{bottom: 16px;}
  }
}
.row-mode{
  .item{
    min-height: 240px;
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: row;
    &__main{position: relative;}
    &__pic{
      width: 240px;
      min-height: 240px;
      height: 100%;
      padding-bottom: 0;
      flex-shrink: 0;
      .swiper-wrapper{
        .swiper-slide{
          padding: 16px 26px 26px;
          a{
            height: 100%;
            padding-top: 0;
          }
        }
      }
    }
    &__pagination{bottom: 16px !important;}
    &__desc{
      width: calc(100% - 240px);
      padding: 24px 172px 24px 24px;
    }
    &__tools{
      top: 24px;
      right: 24px;
    }
    &__tool{
      width: 24px;
      height: 24px;
    }
    &__options{
      max-width: 240px;
      margin-top: 8px;
    }
    &__name{font-size: 24px;}
    &__price{
      position: absolute;
      align-items: flex-end;
      bottom: 90px;
      right: 24px;
      margin-top: 0;
    }
    &__shopcart{
      bottom: 24px;
      right: 24px;
      width: auto;
    }
    &__shopcart-btn{
      width: 160px;
      height: 50px;
      border: none;
      border-radius: $brs;
      font-size: 16px;
      color: $clr-contr;
      background-color: $clr-main;
      span{display: block;}
      svg{
        margin-left: 10px;
        stroke: $clr-contr;
      }
      &:hover{
        border-color: transparent;
        background-color: $clr-hover;
        svg{stroke: $clr-contr;}
      }
    }
    &__shopcart-input{
      width: 120px;
      height: 40px;
      border: 1px solid $clr-brd;
      border-radius: $brs;
      font-size: 14px;
    }
    &__shopcart-minus,
    &__shopcart-plus{
      background-color: transparent;
      box-shadow: none;
      border-radius: $brs;
      width: 24px;
      height: 24px;
      svg{
        width: 100%;
        height: 100%;
      }
      &:hover{
        background-color: transparent;
        box-shadow: none;
        svg{stroke: $clr-hover;}
      }
    }
    &__shopcart-minus{
      top: 8px;
      left: 6px;
    }
    &__shopcart-plus{      
      left: auto;
      right: 6px;
      top: 8px;
    }
    &__row{
      &:nth-child(4) ~ .item__row{display: flex;}
    }
    @media only screen and (max-width : 767px){
      width: 100%;
      min-height: unset;
      display: block;
      &__pic{
        height: 210px;
        width: 100%;
        .swiper-wrapper{
          .swiper-slide{padding: 16px 12px 24px;}
        }
      }
      &__left-bar{
        top: 12px;
        left: 12px;
      }
      &__right-bar{
        top: 12px;
        right: 12px;
      }
      &__icon{
        width: 16px;
        margin-left: 8px;
      }
      &__pagination{padding: 0 11px;}
      &__desc{
        padding: 12px;
        width: 100%;
      }
      &__tools{
        position: absolute;
        top: 12px;
        right: 12px;
      }
      &__tool{
        width: 20px;
        height: 20px;
      }
      &__row{
        &:nth-child(2) ~ .item__row{display: flex;}
      }
      &__price{
        position: static;
        align-items: flex-start;
        margin-top: 16px;
      }
      &__options{max-width: unset;}
      &__name{font-size: 14px;}
      &__shopcart{
        bottom: -11px;
        right: -11px;
        width: 64px;
      }
      &__shopcart-btn{
        width: 64px;
        height: 64px;
        border: 1px solid #EFDAF5;
        border-radius: 50%;
        background-color: transparent;
        span{display: none;}
        svg{
          margin-left: 0;
          stroke: $clr-main;
        }
        &:hover{
          border-color: $clr-hover;
          background-color: transparent;
          svg{stroke: $clr-hover;}
        }
      }
      &__shopcart-input{
        width: 64px;
        height: 64px;
        border: 1px solid #EFDAF5;
        border-radius: 50%;
        font-size: 11px;
      }
      &__shopcart-minus,
      &__shopcart-plus{
        background-color: $clr-contr;
        box-shadow: 0 4px 11px rgba(0, 0, 0, .06);
        border-radius: 50%;
        width: 20px;
        height: 20px;
        svg{
          width: auto;
          height: auto;
        }
        &:hover{
          background-color: $clr-hover;
          box-shadow: 0 0 0 rgba(0, 0, 0, 0);
          svg{stroke: $clr-contr;}
        }
      }
      &__shopcart-minus{
        top: 22px;
        left: -10px;
      }
      &__shopcart-plus{
        left: 22px;
        top: -10px;
      }
    }
  }
}
.items-sec{
  margin: 24px 0;
  &:first-child{margin-top: 0;}
  &:last-child{margin-bottom: 0;}
  &__title{
    padding-top: 42px;
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
  }
}
