.popup{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  z-index: 999;
  &__overlay{
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
  }
  &__main{
    background-color: $clr-contr;
    border-radius: $brs;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 360px;
    &--click{max-width: 580px;}
    &--review{max-width: 580px;}
  }
  &__header{
    height: 75px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    border-bottom: 1px solid $clr-brd;
    padding: 24px;
  }
  &__close{
    width: 20px;
    height: 20px;
    svg{
      display: block;
      stroke: $clr-txt-sec;
      transition: stroke .25s;
    }
    &:hover{
      svg{stroke: $clr-main;}
    }
  }
  &__title{
    font-size: 20px;
    line-height: 130%;
    font-weight: 400;
  }
  &__content{
    margin-right: 6px;
    overflow-y: auto;
    padding: 24px 16px 24px 24px;
    @include scrollbar; 
  }
  &-nav{
    margin-top: 16px;
    text-align: center;
    &__row{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-btn{
      font-size: 16px;
      line-height: 160%;
      color: $clr-main;
      display: inline-block;
      &:hover{color: $clr-hover;}
    }
  }
  &__txt{
    font-size: 14px;
    line-height: 130%;
    margin-bottom: 12px;
  }
  @media only screen and (max-width : 1023px){
    &__overlay{display: none;}
    &__main{
      width: 100%;
      height: 100%;
      min-height: 100vh;
      max-width: unset;
      border-radius: 0;
      transform: none;
      position: absolute;
      top: 0;
      left: 0;
      &--click{max-width: unset;}
    }
    &__header{
      height: 51px;
      flex-direction: row;
      padding: 0;
    }
    &__close{
      width: 50px;
      height: 50px;
      background-color: $clr-main;
      flex-shrink: 0;
      position: relative;
      &::before,
      &::after{
        content: '';
        display: block;
        width: 18px;
        height: 2px;
        background-color: $clr-contr;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -1px 0 0 -9px;
      }
      &::before{transform: rotate(-45deg);}
      &::after{transform: rotate(45deg);}
      svg{display: none;}
    }
    &__title{
      @include h4;
      flex-grow: 1;
      padding: 0 24px;
    }
    &__content{
      margin: 0;
      @include scrollbar;
      height: calc(100vh - 51px);
      min-height: calc(100vh - 51px);  
      padding: 24px 16px; 
      display: flex;
      align-items: stretch;
      justify-content: flex-start;
      flex-direction: column;
    }
    &-form{
      display: flex;
      align-items: stretch;
      justify-content: flex-start;
      flex-direction: column;
      flex-grow: 1;
      &__main{flex-grow: 1;}
    }
  }
}