.review-statistic{
  width: 320px;
  position: absolute;
  left: 100%;
  top: 0;
  margin-left: 24px;
  padding: 24px;
  background-color: $clr-contr;
  border-radius: $brs;
  min-height: 443px;
  &__rait{
    margin-bottom: 36px;
    &-val{
      font-size: 64px;
      line-height: 100%;
    }
    &-stars{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      img{margin-right: 4px;}
    }
    &-txt{
      font-size: 14px;
      line-height: 130%;
      color: $clr-txt-sec;
    }
  }
  &-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    &__numb{
      width: 14px;
      font-size: 14px;
      line-height: 130%;
      flex-shrink: 0;
    }
    &__star{
      width: 22px;
      flex-shrink: 0;
      margin-right: 6px;
    }
    &__prog{
      flex-grow: 1;
      position: relative;
      height: 22px;
      border-radius: $brs;
      overflow: hidden;
      background-color: $clr-brd;
      &-line{
        height: 100%;
        background-color: $clr-confirm;
      }
    }
  }
  &__btn{
    width: 100%;
    margin-top: 36px;
  }
  @media only screen and (max-width : 1023px){
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    margin-left: 0;
    margin-bottom: 24px;
    padding: 0;
    border-radius: 0;
    padding-right: 320px;
    min-height: unset;
    &__list{
      position: absolute;
      top: 0;
      right: 0;
      width: 272px;
    }
    &__rait{
      margin-bottom: 12px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      &-stars{margin-left: 12px;}
      &-txt{
        width: 100%;
        margin-top: 6px;
      }
    }
    &__btn{margin-top: 0;}
  }
  @media only screen and (max-width : 767px){
    padding-right: 0;
    &__list{display: none;}
  }
}

.detail-sec .review{border: 1px solid $clr-brd;}
.reviews{
  .pagination{margin-top: 24px;}
}
.review{
  background-color: $clr-contr;
  border-radius: $brs;
  margin-bottom: 24px;
  padding: 0 16px;
  &:last-child{margin-bottom: 0;}
  &--yandex{
    .review__profile{
      position: relative;
      &::before{
        content: '';
        display: block;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48.093' height='48.052'%3E%3Cpath fill='%23fff' d='M11.64 9.054h24.574v29.748H11.64z'/%3E%3Cpath fill='%23fc3f1d' d='M24.07-.12C10.78-.12 0 10.62 0 23.82c0 13.24 10.78 23.95 24.07 23.95 13.24 0 24.02-10.71 24.02-23.95 0-13.2-10.78-23.94-24.02-23.94Zm3.11 38.17V13.41h-2.21c-4.06 0-6.19 2.05-6.19 5.08 0 3.45 1.47 5.04 4.51 7.09l2.5 1.69-7.22 10.78H13.2l6.48-9.64c-3.73-2.66-5.82-5.25-5.82-9.63 0-5.5 3.81-9.23 11.07-9.23h7.21v28.5Z'/%3E%3C/svg%3E") center center no-repeat;
        background-size: contain;
        width: 24px;
        height: 24px;
        position: absolute;
        top: -8px;
        left: -8px;
      }
    }
  }
  &__header{
    padding: 16px 0;
    border-bottom: 1px solid $clr-brd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    position: relative;
  }
  &__profile{
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &__ava{
    background: url(../img/svg/gest.svg) center center no-repeat, radial-gradient(128.03% 52.7% at 95.24% 83.54%, #575E6E 0%, #1D2029 93.83%);
    background-size: contain;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    flex-shrink: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    img{
      width: 100%;
      height: 100%;
      max-width: unset;
      object-fit: cover
    }
  }
  &__name{
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
  }
  &__time{
    font-size: 14px;
    line-height: 130%;
    color: $clr-txt-sec;
  }
  &__footer{
    padding: 16px 0;
    border-top: 1px solid $clr-brd;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__subject{
    font-size: 14px;
    font-weight: 400;
    a{
      font-weight: 500;
      color: #455999;
      &:hover{color: #52006c;}
    }
  }
  &__brif{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
    line-height: 130%;
    color: $clr-txt-sec;
    &-no,
    &-yes{
      text-decoration: underline;
      margin-left: 12px;
      &:hover{text-decoration: none;}
    }
    &-no{color: $clr-alert;}
    &-yes{color: $clr-confirm;}
  }
  &__views{
    font-size: 14px;
    line-height: 130%;
    color: $clr-txt-sec;
  }
  &__main{padding: 16px 0;}
  &__sec{
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 150%;
    &:last-child{margin-bottom: 0;}
    &-header{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 16px;
    }
    &-title{
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
    }
    &-rait{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 12px;
      img{margin-right: 6px;}
    }
  }
  &__gallery{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    align-items: stretch;
    &-item{
      width: 100%;
      padding-top: 100%;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        max-width: unset;
        object-fit: cover;
      }
    }
  }
  &__more ~ *{display: none;}
  &__item-header{
    padding: 16px 0;
    border-bottom: 1px solid $clr-brd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-bar{
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    &-item{
      margin-left: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      line-height: 150%;
      &-title{
        margin-right: 6px;        
        color: $clr-txt-sec;
      }
      &-val{
        color: $clr-txt;
        white-space: nowrap;
      }
    }
  }
  &-item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &__pic{
      width: 50px;
      flex-shrink: 0;
      margin-right: 16px;
    }
    &__title{
      font-size: 14px;
      line-height: 130%;
      color: $clr-txt-sec;
    }
    &__name{
      font-size: 16px;
      line-height: 130%;
      color: $clr-main;
      &:hover{color: $clr-hover;}
    }
    &__id{
      font-size: 14px;
      line-height: 130%;
      color: $clr-txt-sec;
      span{color: $clr-txt;}
    }
  }
  &__state{
    padding: 0 6px;
    display: inline-block;
    border-radius: 2px;
    white-space: nowrap;
    font-size: 12px;
    line-height: 150%;
    &.edit{
      background-color: $clr-edit;
      color: $clr-txt;
    }
    &.deleted{
      background-color: $clr-alert;
      color: $clr-contr;
    }
    &.confirmed{
      background-color: $clr-confirm;
      color: $clr-contr;
    }
  }
  @media only screen and (max-width : 1199px){
    &__gallery{grid-template-columns: repeat(8, 1fr);}
  }
  @media only screen and (max-width : 767px){
    &__header{display: block;}
    &__time{
      display: block;
      margin-top: 8px;
    }
    &__footer{display: block;}
    &__brif{margin-bottom: 8px;}
    &__main{padding: 16px 0;}
    &__gallery{grid-template-columns: repeat(4, 1fr);}
    &-item{margin-bottom: 8px;}
    &__item-header{
      flex-wrap: wrap;
      &-item{
        margin-left: 0;
        margin-right: 24px;
        display: block;
        &:last-child{margin-right: 0;}
        &-title{margin-bottom: 4px;}
        &-val{display: block;}
      }
    }
    &__delete{
      width: 100%;
      margin-top: 16px;
    }
  }
}

.reviews-page{
  &__wrap{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  &__bar{width: 320px;}
  &__main{width: calc(100% - 320px - 24px);}
  @media only screen and (max-width : 1023px){
    &__wrap{display: block;}
    &__bar{
      width: 100%;
      margin-bottom: 20px;
    }
    &__main{width: 100%;}
  }
  @media only screen and (max-width : 767px){
    &__bar{
      width: calc(100% + 32px);
      margin-left: -16px;
    }
  }
}
.reviews-sort{
  background-color: $clr-contr;
  border-radius: $brs;
  padding: 24px;
  &__title{
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
  }
  @media only screen and (max-width : 767px){
    border-radius: 0;
    padding: 16px;
  }
}