.search{
  flex-grow: 1;
  position: relative;
  margin: 0 24px;
  &__input{
    height: 60px;
    padding: 0 62px;
    border-radius: $brs;
    border: 2px solid $clr-main;
  }
  &__submit{
    position: absolute;
    top: 13px;
    left: 14px;
  }
  @media only screen and (max-width : 1459px){
    margin-left: 12px;
  }
  @media only screen and (max-width : 1279px){
    margin-left: 8px;
  }
  @media only screen and (max-width : 1023px){
    &:not(.search--mob){display: none;}
    margin: 0;
    &__input{
      height: 50px;
      padding: 0 62px;
      border-radius: 0;
      border: none;
      border-bottom: 1px solid $clr-brd;
    }
    &__submit{
      top: 7px;
      left: 12px;
    }
  }
}