extends ../layout/layout

block main
  include ../modules/index-banner.html
  include ../modules/collection.html
  include ../modules/collections-slider.html
  include ../modules/brend-nav.html
  include ../modules/subscribe.html