<!DOCTYPE html>
html(lang="Ru-ru")
  head
    include ../modules/head
  body
    .wrapper
      include ../modules/header.html
      .main
        .container
          include ../modules/lorem.html
    include ../modules/scripts