extends ../layout/layout

block main
  include ../modules/hero.html
  include ../modules/hero-dub.html
  include ../modules/pop-categorys.html
  include ../modules/index-banner.html
  include ../modules/new-items.html
  include ../modules/actions-slider.html
  include ../modules/double-slider.html
  include ../modules/pop-collections.html  
  include ../modules/about-sec.html  
  include ../modules/news-slider.html  
  include ../modules/pop-brends.html  
  include ../modules/last-views.html
  include ../modules/subscribe.html
  include ../modules/fast-view-popup.html
  include ../modules/one-click.html