<!DOCTYPE html>
html(lang="Ru-ru")
  head
    include ../modules/head
  body.admin
    .wrapper
      include ../modules/header_showcase.html
      .main
        block main
      include ../modules/footer_showcase.html
    include ../modules/scripts